.idea
.cache
.ipynb_checkpoints
docs/build
docs/build/doctrees/
#
upload_command.sh
upload_plots.sh
config_*
!config_ps113.toml
!config_limassol.toml
data/Track_PS116.dat
#
trajectories/*
!trajectories/.gitkeep
output/*
!output/.gitkeep
plots/*
!plots/.gitkeep
.vscode
*.zip
*.py~
*.pyc
*.swp
.gitignore~
.spyderworkspace
*.lprof
*.lprof~
