.idea
.cache
.ipynb_checkpoints
docs/build
docs/build/doctrees/
trajectories/*
!trajectories/.gitkeep
output/*
!output/.gitkeep
plots/*
!plots/.gitkeep
.vscode
*.zip
*.py~
*.pyc
*.swp
.gitignore~
.spyderworkspace
*.lprof
*.lprof~
